[Unit]
Description=RunBME_server  control
After=network.targetStart
StartLimitItervalSec=0

[Service]
ExecStart=/home/klein/git/RunBme/myenv/bin/python /home/klein/git/RunBme/src/myserver.py
Restart=always
RestartSec=20
User=klein


[Install]
WantedBy=multi-user.target